.env

# editors/os
.DS_Store
.project
.settings
*.swp

# foundry
out/
cache/
broadcast/

rbtTest/testchain/geth
rbtTest/testchain/geth.ipc
rbtTest/testchain/history
rbtTestHash/testchain/geth
rbtTestHash/testchain/geth.ipc
rbtTestHash/testchain/history
test/testchain/geth
test/testchain/geth.ipc
test/testchain/history
private
